.background{
    background-image: url("https://t3.ftcdn.net/jpg/08/68/27/60/360_F_868276054_DNKvenC1fVqMD2K9vRULGrhL0XkdMOC9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}